<section>

  <div class="container">

    <div class="container-tittle">
      <h2 class="fs-2 fw-bold">Envia correos</h2>
    </div>

    <form class="container-form" (submit)="sendEmail()">

      <div class="mb-4">
        <input class="container-input" type="text" name="subject" [(ngModel)]="subject" placeholder="Asunto">
      </div>

      <div class="mb-4">
        <textarea class="container-input" name="text" [(ngModel)]="text" placeholder="Cuerpo del mensaje"></textarea>
      </div>
      
      <div class="mb-4">

        <input class="container-input" type="text" name="recipients" [(ngModel)]="recipients" placeholder="Destinatarios (separados por comas)">
      </div>
      
      <button class="container-buttons btn btn-success" type="submit">Enviar correo electrónico</button>
    </form>


  </div>



</section>
